<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-1">
        <img alt="MEAN.JS" class="img-responsive center-block" src="modules/core/client/img/brand/logoplace.jpg" height="300" width="300" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
          <h1>Welcome</h1>
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://google.com" target="_blank">Google</a>
        
      </p>
    </div>
  </div>
  <div>
    <h1 align = "center">Our Testing app is running..!!</h1>
    
  
  </div>
  <div class="row">
  </div>
  <div class="well">

    
  </div>
  
</section>
